* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  font-family: 'Old Standard TT', serif;
}
 
.header {
  height: 100px;
  width: 100%;
}
 
.container {
  width: 1200px;
  margin: 0 auto;
  border: 1px solid red;
  height: inherit;
}

.img-logo {
  margin: 25px 0 0 50px;
}

.menu {
  float: right;
  margin: 0px 50px;
}
  	
.menu-list {
  display: inline-block;
  margin-left: 80px;
}

.menu-link {
  font-size: 18px;
  text-decoration: none;
  color: black;
  line-height: 100px;
}
.menu-link:hover {
  color: #565657;
  cursor: wait;
}

.section-one {
  height: 14	00px;
  width: 100%;
}

.img-section-one {
  margin-left: 50px;
  width: 1100px;
}

.content-s-one {
  margin: 100px 100px 80px;
}

.title {
  font-family: arial;
  color: #757575;
  margin-top: 20px;
}

.title1 {
  margin-top: 20px;
  font-size: 32px ;
}

.title2 {
  margin: 20px 0 40px;
}

.comment {
  margin-top: 40px;
  font-family: arial;
  text-decoration: none;
  color: #757575;
}